<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Transaction Repository -->
    <preference for="Fintoc\Payment\Api\TransactionRepositoryInterface" type="Fintoc\Payment\Model\TransactionRepository" />

    <!-- Transaction Service -->
    <preference for="Fintoc\Payment\Api\TransactionServiceInterface" type="Fintoc\Payment\Service\TransactionService" />

    <!-- Logger Service -->
    <preference for="Fintoc\Payment\Api\LoggerServiceInterface" type="Fintoc\Payment\Service\LoggerService" />

    <!-- Configuration Service -->
    <preference for="Fintoc\Payment\Api\ConfigurationServiceInterface" type="Fintoc\Payment\Service\ConfigurationService" />

    <!-- Refund Services -->
    <preference for="Fintoc\Payment\Api\RefundServiceInterface" type="Fintoc\Payment\Service\RefundService" />
    <preference for="Fintoc\Payment\Api\RefundsApiClientInterface" type="Fintoc\Payment\Service\RefundsApiClient" />

    <!-- Data Interfaces -->
    <preference for="Fintoc\Payment\Api\Data\TransactionInterface" type="Fintoc\Payment\Model\Transaction" />
    <preference for="Fintoc\Payment\Api\Data\TransactionSearchResultsInterface" type="Fintoc\Payment\Model\TransactionSearchResults" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="fintoc_payment_grid_data_source" xsi:type="string">Fintoc\Payment\Model\ResourceModel\Payment\Grid\Collection</item>
                <item name="fintoc_payment_transactions_grid_data_source" xsi:type="string">Fintoc\Payment\Model\ResourceModel\Transaction\Grid\Collection</item>
                <item name="fintoc_refunds_orders_grid_data_source" xsi:type="string">Fintoc\Payment\Model\ResourceModel\Payment\RefundableGrid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Fintoc\Payment\Model\ResourceModel\Payment\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">sales_order_payment</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Sales\Model\ResourceModel\Order\Payment</argument>
        </arguments>
    </virtualType>

    <type name="Fintoc\Payment\Model\ResourceModel\Payment\RefundableGrid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">sales_order_payment</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Sales\Model\ResourceModel\Order\Payment</argument>
        </arguments>
    </type>

    <virtualType name="Fintoc\Payment\Model\ResourceModel\Transaction\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">fintoc_payment_transactions</argument>
            <argument name="resourceModel" xsi:type="string">Fintoc\Payment\Model\ResourceModel\Transaction</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="fintoc_payment_config_provider" xsi:type="object">Fintoc\Payment\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <!-- Logger Configuration -->
    <type name="Fintoc\Payment\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Fintoc\Payment\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">fintoc</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Fintoc\Payment\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="FintocPaymentMethodLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">Fintoc\Payment\Logger\Logger</argument>
        </arguments>
    </virtualType>

    <!-- Payment Method Configuration -->
    <type name="Fintoc\Payment\Model\Payment">
        <arguments>
            <argument name="logger" xsi:type="object">FintocPaymentMethodLogger</argument>
        </arguments>
    </type>

    <!-- Configure Webhook Controller -->
    <type name="Fintoc\Payment\Controller\Webhook\Index">
        <arguments>
            <argument name="transactionService" xsi:type="object">Fintoc\Payment\Service\TransactionService</argument>
            <argument name="logger" xsi:type="object">Fintoc\Payment\Logger\Logger</argument>
        </arguments>
    </type>

    <!-- Configure GuzzleHttp Client -->
    <type name="GuzzleHttp\Client">
        <arguments>
            <argument name="config" xsi:type="array">
                <item name="timeout" xsi:type="number">30</item>
                <item name="http_errors" xsi:type="boolean">false</item>
            </argument>
        </arguments>
    </type>

    <!-- Configure Checkout Create Controller -->
    <type name="Fintoc\Payment\Controller\Checkout\Create">
        <arguments>
            <argument name="httpClient" xsi:type="object">GuzzleHttp\Client</argument>
            <argument name="logger" xsi:type="object">Fintoc\Payment\Logger\Logger</argument>
        </arguments>
    </type>

    <!-- Configure Checkout Commit Controller -->
    <type name="Fintoc\Payment\Controller\Checkout\Commit">
        <arguments>
            <argument name="logger" xsi:type="object">Fintoc\Payment\Logger\Logger</argument>
        </arguments>
    </type>
</config>
