<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Transaction Repository -->
    <preference for="Fintoc\Payment\Api\TransactionRepositoryInterface" type="Fintoc\Payment\Model\TransactionRepository" />

    <!-- Transaction Service -->
    <preference for="Fintoc\Payment\Api\TransactionServiceInterface" type="Fintoc\Payment\Service\TransactionService" />

    <!-- Logger Service -->
    <preference for="Fintoc\Payment\Api\LoggerServiceInterface" type="Fintoc\Payment\Service\LoggerService" />

    <!-- Configuration Service -->
    <preference for="Fintoc\Payment\Api\ConfigurationServiceInterface" type="Fintoc\Payment\Service\ConfigurationService" />

    <!-- Data Interfaces -->
    <preference for="Fintoc\Payment\Api\Data\TransactionInterface" type="Fintoc\Payment\Model\Transaction" />
    <preference for="Fintoc\Payment\Api\Data\TransactionSearchResultsInterface" type="Fintoc\Payment\Model\TransactionSearchResults" />

    <!-- Logger Configuration -->
    <type name="Fintoc\Payment\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Fintoc\Payment\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">fintoc</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Fintoc\Payment\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
